<% return if comments.empty? %>

<ul>
  <% comments.each do |comment| %>
    <!-- show the content
    call comments form if it has childs -->
    <li>
      <a href="<%= comment_url(comment) %>">
      <%= comment.author.username %>: <%= comment.content %>
      </a>
      <%= render "comments", comments: comment.child_comments %>
    </li>
  <% end %>
</ul>
